/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

li {
    display: inline-block;
}

#logo {
    width: 70px;
    height: 20px;
    padding: 15px 0px 15px 0px;
}

.menu {
    color: #0065FC;
    display: inline-block;
    width: auto;
    display: flex;
    justify-content: space-around;
}

.en-tete {
    display : flex;
    flex-direction : row;
    justify-content: space-between;
}

.navigation {
    padding: 30px;
}

.navigation:hover {
    border-top: 2px solid #0065FC;
    padding-top: 20px;
}

form {
    margin: 10px;
    position: relative;
    right: 10px;
    padding-bottom: 10px;
    padding-top: 15px;
}

input {
    border-width: 0;
    font-weight: bold;
    font-size: medium;
    text-align: center;
}

.localisation {
    padding: 15px;
    margin-right: 0;
    border-width: 0;
    border-radius: 10px 0px 0px 10px;
}

.ville {
    background-color: white;
    margin-left: 0;
    margin-right: 0;
    padding-top: 11px;
    padding-bottom: 12px;
    text-align: center;
    border: 0;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    position: relative;
    right: 5px;
}

.rechercher-desktop {
    padding: 13px;
    margin-left: 0;
    background-color: #0065FC;
    border-width: 0;
    border-radius: 0px 10px 10px 0px;
    position: relative;
    right: 10px;
}

.rechercher-mobile {
    padding: 13px;
    margin-left: 0;
    background-color: #0065FC;
    border-width: 0;
    border-radius: 0px 10px 10px 0px;
    position: relative;
    right: 10px;
}

input[type="submit"] {
    color: white;
    background-color: #0065FC;
}

.filtres {
    background-color: white;
    border: 0;
    border-radius: 20px 20px 20px 20px;
    padding: 20px 10px 30px 0;
    font-weight: bold;
    position: relative;
    right: 36px;
    font-size: medium;
}

.button-filter {
    margin: auto;
    background-color: white;
    padding: 10px 20px 10px 20px;
    margin-right: 10px;
    border-radius: 20px 20px 20px 20px;
    font-weight: bold;
    border: 2px solid #d9d9d9;
    position: relative;
    right: 30px;
    font-size: medium;
}

.button-filter-logo {
    display: inline-block;
    padding-right: 7px;
}

.button-filter:hover {
    background-color: #DEEBFF;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

.info-logo {
    border: 2px solid #d9d9d9;
    padding: 4px 11px 4px 11px;
    border-radius: 90px;
}

.info-logement {
    display: inline-block;
    padding-bottom: 20px;
    padding-left: 5px;
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards {
    width: 100%;
    height: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 250px 250px 250px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.hebergements-cards .card-title {
    text-wrap: nowrap;
}

.hebergements-cards img {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.more {
    font-weight: bold;
    padding: 30px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/
.activites {
    width: 100%;
    padding-bottom: 40px;
}

.activites-title {
    display: flex;
    padding-top: 50px;
    padding-left: 20px;
}

.activites-cards {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    padding-bottom: 20px;
    
}

.activites .card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 33px;
}

.activites img {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    right: 5px;
    bottom: 5px;
    object-fit: cover;
}

.activites .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    padding: 10px;
}

/****** Footer *****/
.footer-list {
    background-color: #F2F2F2;
    border: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-help {
    background-color: #F2F2F2;
    border: 0;
    padding-right: 250px;
    padding-left: 0;
    font-size: medium;
    text-align: justify;
    padding-bottom: 15px;
}

p [class="categorie"] {
    display: inline-block;
}

.categorie {
    font-weight: bold;
}

.footer-lien {
    padding-bottom: 10px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 780px) and (max-width: 1024px) {
    .rechercher-mobile {
        display: none;
    }

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
        height: 600px;
    }

    .populaires {
        width: 100%;
        margin-top: 30px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites {
        width: 100%;
    }

    .activites-cards {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        display: grid;
        grid-template-columns: 200px 200px 200px 200px;
        padding-bottom: 20px;
    }

    .activites .title-responsive {
       position: relative;
       top: 10px;
       padding-bottom: 18px;
    }

    .activites img {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    .footer-help {
        padding-right: 120px;
    }
}

/* Small devices (phones, less than 768px) */
@media (min-width: 320px) and (max-width: 767.98px) {
    .rechercher-desktop {
        display: none;
    }

    h1 {
        font-size: 1.28em;
        position: relative;
        right: 40px;
    }

    p {
        text-wrap: nowrap;
        position: relative;
        right: 40px;
    }

    #logo {
        width: 70px;
        height: 20px;
        padding: 15px 0px 15px 0px;
        display: flex;
    }
    
    .menu {
        color: #0065FC;
        width: auto;
        display: flex;
        flex-direction: row;
        
    }
    
    .en-tete {
        display : flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    
    .navigation {
        display: inline;
        display: flex;
        flex-direction: row;
    }
    
    .navigation:hover {
        border-bottom: 2px solid #0065FC;
        padding-bottom: 20px;
        border-top: none;
    }

    form {
        width: 100%;
        margin: 10px;
        position: relative;
        right: 50px;
        padding-bottom: 10px;
        padding-top: 10px;
        display: flex;
        flex-wrap: nowrap;
    }
    
    input {
        border-width: 0;
        font-weight: bold;
        font-size: medium;
        text-align: center;
    }
    
    .localisation {
        padding: 15px 20px 15px 20px;
        margin-right: 0;
        border-width: 0;
        border-radius: 10px 0px 0px 10px;
    }
    
    .ville {
        background-color: white;
        margin-left: 0;
        margin-right: 0;
        padding-top: 11px;
        padding-bottom: 12px;
        padding-left: 18px;
        padding-right: 18px;
        text-align: center;
        border: 0;
        border-top: 1px solid #F2F2F2;
        border-bottom: 1px solid #F2F2F2;
        position: relative;  
    }

    .rechercher-mobile {
        padding: 10px 10px 10px 10px;
        margin-left: 0;
        background-color: #0065FC;
        border-width: 0;
        border-radius: 10px 10px 10px 10px;
    }
    
    button[type="submit"] {
        display: inline;
        background-color: #0065FC;
        border: 0;
        border-radius: 10px 10px 10px 10px; 
        padding: 10px 10px 10px 10px;
    }
    
    .filtres {
        background-color: white;
        border: 0;
        border-radius: 20px 20px 20px 20px;
        
        position: relative;
        right: 70px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    
    .button-filter {
        background-color: white;
        font-size: small;
        border: 2px solid #d9d9d9;
        width: 150px;
        display: flex;
        align-items: flex-start;
        margin: 0;
    }
    
    .button-filter-logo {
        
        
    }
    
    .button-filter:hover {
        background-color: #DEEBFF;
    }

    .info-logement {
        text-wrap: wrap;
        position: relative;
        right: 5px;
        top: 5px;
        text-align: justify;
    }

    .info-logo {
        position: relative;
        right: 5px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements {
        width: 100%;
        margin-bottom: 1000px;
        margin-top: 20px;
    }

    .hebergements-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .hebergements-cards a {
        width: 100%;
    }

    .hebergements-cards .card-title {
        font-size: 14px;
    }

    .hebergements-cards .card-subtitle {
        font-size: 13px;
        position: relative;
        left: 1px;
    }

    .populaires {
        width: 100%;
        margin-top: 20px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
        position: relative;
        left: 1px;
    }

    .activites {
        width: 100%;
    }

    .activites-cards {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .activites .title-responsive {
       position: relative;
       top: 10px;
       padding-bottom: 18px;
    }

    .activites img {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    .footer-help {
        padding-right: 120px;
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .rechercher-mobile {
        display: none;
    }
}
   